body{
    font-family: 'Montserrat', sans-serif;
}
.nav-item{
    margin-left:2.8vw;
}
.nav-link{
    color:black;
    padding-top:1vh;
}
.box{
    display: inline-block;
    text-align:center;
    width: 15vw;
}
.circle{
    display: inline-block;
    background-color: grey;
    height:15vh;
    width: 7.5vw;
    border-radius: 50%;
    padding-top: 5.5vh;
    margin-bottom: 2vh;
}
.listIcon {
    width:2vw; 
    height:4vh;
    background-color: green; 
    padding-top: 1vh;
    border-radius: 50%;
    color:white;
}
.headParagraph{
    font-size: 15px; 
    margin-top: 2.5vh; 
    color:#0bb50e; 
    font-weight:600;
}
.paragraph{
    text-align: center; 
    font-size: 12.3px;
}
.smallLetter{
    font-size: 12.3px;
}
.img{
    width:18vw; 
    height: 31vh;
}
.bigImg{
    width:36vw;
    height: 31vh;
}
.square{
    display: inline-block;
    width:1.5vw; 
    height:3vh; 
    background-color: white;
}
.smallText{
    color:white; 
    font-size:8px;
    margin-bottom: 0px;
}
.smallDate{
    color: lightgrey; 
    font-size: 6px; 
    margin-top:0;
}